@{
    ViewData["Title"] = "Data Summary Grid";
}

@model CrashesViewModel

<style>
    /* Start of my code The switch - the box around the slider */
    .whiteTextColor {
        color:white;
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 40px;
        height: 26px;
    }

        /* Hide default HTML checkbox */
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 18px;
            width: 18px;
            left: 3px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 18px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>

<div class="row">
    <div class="col-10">
        <h1>Crash Data</h1>
    </div>
    <div class="col">
        <button class="btn btn-primary">
            <a asp-for="Home" asp-action="DataSummary" class="cole">Table View</a>
        </button>
    </div>
</div>

<div class="row m-1 p-1">

    <!--Left Section of Page-->
    <div id="types" class="col-4">

        @*<vc:county></vc:county>*@
        <form method="post">
            <div>
                <div style="width: fit-content;">
                    <label>City</label><br />
                    <select name="cityName">
                        <option disabled selected value=""> -- select an option -- </option>
                        @foreach (string c in ViewBag.CITY)
                        {
                            @if ((@c != "") || (@c != "***  ERROR  ***"))
                            {
                                <option value="@c">@c</option>
                            }
                        }
                    </select>
                </div><br />

                <div style="width: fit-content;">
                    <label>County</label><br />
                    <select name="countyName">
                        <option disabled selected value=""> -- select an option -- </option>
                        @foreach (string c in ViewBag.COUNTY_NAME)
                        {
                            @if (@c != "")
                            {
                                <option value="@c">@c</option>
                            }

                        }
                    </select>
                </div><br />

                <div style="width: fit-content;">
                    <label>Crash Severity:</label><br />
                    <select name="severityId">
                        <option disabled selected value=""> -- select an option -- </option>
                        <option value="1"> No Injury </option>
                        <option value="2"> Possible Injury </option>
                        <option value="3"> Suspected Minor Injury </option>
                        <option value="4"> Suspected Serious Injury </option>
                        <option value="5"> Fatal </option>

                    </select>
                </div><br />
            </div>

            <div>
                <!-- Rounded switch -->
                <label for="wz">Crash Occured In Work Zone?:</label>
                <label class="switch">
                    <input type="checkbox" name="wz">
                    <span class="slider round"></span>
                </label>

                <label for="pi">Pedestrian Involved In Crash?:</label>
                <label class="switch">
                    <input type="checkbox" name="pi">
                    <span class="slider round"></span>
                </label>

                <label for="bi">Bicyclist Involved In Crash?:</label>
                <label class="switch">
                    <input type="checkbox" name="bi">
                    <span class="slider round"></span>
                </label>
            </div>

            <div>
                <!-- Rounded switch -->
                <label for="mi">Motorcycle Involved In Crash?:</label>
                <label class="switch">
                    <input type="checkbox" name="mi">
                    <span class="slider round"></span>
                </label>

                <label for="ir">Did Occupants Have Improper Restraints?:</label>
                <label class="switch">
                    <input type="checkbox" name="ir">
                    <span class="slider round"></span>
                </label>

                <label for="ur">Did Occupants Have No Restraints?:</label>
                <label class="switch">
                    <input type="checkbox" name="ur">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <!-- Rounded switch -->
                <label for="DUI">Crash Occured From DUI?:</label>
                <label class="switch">
                    <input type="checkbox" name="DUI">
                    <span class="slider round"></span>
                </label>

                <label for="inRel">Crash Occured In Intersection?:</label>
                <label class="switch">
                    <input type="checkbox" name="inRel">
                    <span class="slider round"></span>
                </label>

                <label for="wiRel">Crash Occured From Wild Animal?:</label>
                <label class="switch">
                    <input type="checkbox" name="wiRel">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <!-- Rounded switch -->
                <label for="overRel">Crash Involved An Overturn Rollover?:</label>
                <label class="switch">
                    <input type="checkbox" name="overRel">
                    <span class="slider round"></span>
                </label>

                <label for="domRel">Crash Occured From Domestic Animal?:</label>
                <label class="switch">
                    <input type="checkbox" name="domRel">
                    <span class="slider round"></span>
                </label>

                <label for="comInv">Crash Involved A Commercial Vehicle?:</label>
                <label class="switch">
                    <input type="checkbox" name="comInv">
                    <span class="slider round"></span>
                </label>
            </div>

            <div>
                <!-- Rounded switch -->
                <label for="oldInv">Driver(s) Involved Was/Were 55+?:</label>
                <label class="switch">
                    <input type="checkbox" name="oldInv">
                    <span class="slider round"></span>
                </label>

                <label for="teenInv">Driver(s) Involved Was/Were Teenager(s)?:</label>
                <label class="switch">
                    <input type="checkbox" name="teenInv">
                    <span class="slider round"></span>
                </label>

                <label for="ndCond">Crash Occured During The Evening?:</label>
                <label class="switch">
                    <input type="checkbox" name="ndCond">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <!-- Rounded switch -->
                <label for="sinVeh">Crash Involved Only A Single Vehicle?:</label>
                <label class="switch">
                    <input type="checkbox" name="sinVeh">
                    <span class="slider round"></span>
                </label>

                <label for="disDriv">Crash Occured Due To Distracted Driving?:</label>
                <label class="switch">
                    <input type="checkbox" name="disDriv">
                    <span class="slider round"></span>
                </label>

                <label for="drowDriv">Crash Occured Due To Drowsy Driving?:</label>
                <label class="switch">
                    <input type="checkbox" name="drowDriv">
                    <span class="slider round"></span>
                </label>
            </div>
            <div>
                <label for="roadDep">Crash Occured On A Roadway Departure?:</label>
                <label class="switch">
                    <input type="checkbox" name="roadDep">
                    <span class="slider round"></span>
                </label>
            </div>

            <button class="btn btn bg-primary" type="submit"><span class="whiteTextColor">Submit Crash Data</span></button>


        </form>
    </div>
    <div class="col-8">
        <div class="row">
            @{ int iCount = 0;}
            @foreach (var c in Model.Crashes)
            {

                if (iCount < 12)
                {
                    <div class="col-md-6 mb-3">
                        <div class="card border-warning mb-3 btncolewidth" >
                            @if (c.CRASH_SEVERITY_ID == "1")
                            {
                                <div class="bg-success p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "2")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "3")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "4")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "5")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            <p1 class="text-center"> @c.COUNTY_NAME COUNTY</p1>

                            <div class="flex-sm-row">
                                <div>

                                    <ul>

                                        <li>City: @c.CITY</li>
                                        <li>Road: @c.MAIN_ROAD_NAME</li>
                                        <li>Route: @c.ROUTE</li>
                                        <li>Milepoint: @c.MILEPOINT</li>
                                        <li>Coordinates: @c.LAT_UTM_Y, @c.LONG_UTM_X</li>
                                    </ul>
                                </div>


                            </div>

                            <button class="btn btn bg-primary bigbtncole" >
                                <a asp-for="Home" asp-action="Predict" asp-route-crashId="@c.CRASH_ID" asp-route-myCounty="@c.COUNTY_NAME" asp-route-night="@(c.NIGHT_DARK_CONDITION == "true" ? "1": "0")" asp-route-drowsy="@(c.DROWSY_DRIVING == "true" ? "1": "0")" asp-route-distracted="@(c.DISTRACTED_DRIVING == "true" ? "1": "0")" asp-route-old="@(c.OLDER_DRIVER_INVOLVED == "true" ? "1": "0")" asp-route-restraint="@(c.UNRESTRAINED == "true" ? "1": "0")" asp-route-dui="@(c.DUI == "true" ? "1": "0")" asp-route-teens="@(c.TEENAGE_DRIVER_INVOLVED == "true" ? "1": "0")" class="cole">View Details</a>
                            </button>

                        </div>
                    </div>

                }
                if (iCount > 12)
                {
                    <div class="col-md-6 mb-3">
                        <div class="card border-warning mb-3 btncolewidth">
                            @if (c.CRASH_SEVERITY_ID == "1")
                            {
                                <div class="bg-success p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "2")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "3")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "4")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "5")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            <p1 class="text-center"> @c.COUNTY_NAME COUNTY</p1>

                            <div class="flex-sm-row">
                                <div>

                                    <ul>

                                        <li>City: @c.CITY</li>
                                        <li>Road: @c.MAIN_ROAD_NAME</li>
                                        <li>Route: @c.ROUTE</li>
                                        <li>Milepoint: @c.MILEPOINT</li>
                                        <li>Coordinates: @c.LAT_UTM_Y, @c.LONG_UTM_X</li>
                                    </ul>
                                </div>


                            </div>

                            <button class="btn btn bg-primary bigbtncole">
                                <a asp-for="Home" asp-action="Predict" asp-route-crashId="@c.CRASH_ID" asp-route-myCounty="@c.COUNTY_NAME" asp-route-night="@(c.NIGHT_DARK_CONDITION == "true" ? "1": "0")" asp-route-drowsy="@(c.DROWSY_DRIVING == "true" ? "1": "0")" asp-route-distracted="@(c.DISTRACTED_DRIVING == "true" ? "1": "0")" asp-route-old="@(c.OLDER_DRIVER_INVOLVED == "true" ? "1": "0")" asp-route-restraint="@(c.UNRESTRAINED == "true" ? "1": "0")" asp-route-dui="@(c.DUI == "true" ? "1": "0")" asp-route-teens="@(c.TEENAGE_DRIVER_INVOLVED == "true" ? "1": "0")" class="cole">View Details</a>
                            </button>

                        </div>
                    </div>

                }
                iCount++;

            }
        </div>
    </div>
</div>





    @*Pagination at the bottom of the page*@
    <div page-model="@Model.PageInfo" page-action="DataSummaryGrid" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
         class="btn-group pull-right m-1 mb-5">
    </div>
