@{
    ViewData["Title"] = "Data Summary Grid";
}

@model CrashesViewModel
<link href="~/css/site - Copy.css" rel="stylesheet" />


<div class="row">
    <div class="col-10">
        <h1>Crash Data</h1>
    </div>
    <div class="col">
        <button class="btn btn-primary">
            <a asp-for="Home" asp-action="DataSummary" class="cole">Table View</a>
        </button>
    </div>
</div>

<div class="row m-1 p-1">


    <div id="types" class="col-3">

        @*<vc:county></vc:county>*@
        <form method="post" id="theyAreDumb">
            <input type="hidden" value="true" name="Submitted" />
            <div>
                <div class="boxfit">
                    <label>City</label><br />
                    <select name="cityName" value="@ViewBag.cityName">
                        <option value=""> -- select a city-- </option>
                        @foreach (string c in ViewBag.CITY)
                        {
                            @if (ViewBag.cityName == c)
                            {
                                <option selected value="@c">@c</option>
                            }
                            else
                            {
                                <option value="@c">@c</option>
                            }
                        }
                    </select>
                </div><br />

                <div class="boxfit">
                    <label>County</label><br />
                    <select name="countyName" value="@ViewBag.countyName">
                        <option value=""> -- select a county -- </option>
                        @foreach (string c in ViewBag.COUNTY_NAME)
                        {
                            @if (ViewBag.countyName == c)
                            {
                                <option selected value="@c">@c</option>
                            }
                            else
                            {
                                <option value="@c">@c</option>
                            }

                        }
                    </select>
                </div><br />

                <div class="boxfit">
                    <label>Crash Severity:</label><br />
                    <select name="severityId">
                        <option value=""> -- select crash severity -- </option>
                        @if (ViewBag.severityId == "1")
                        {
                            <option selected value="1"> 1 - No Injury </option>
                        }
                        else
                        {
                            <option value="1"> 1 - No Injury </option>
                        }
                        @if (ViewBag.severityId == "2")
                        {
                            <option selected value="2"> 2 - Possible Injury </option>
                        }
                        else
                        {
                            <option value="2"> 2 - Possible Injury </option>
                        }
                        @if (ViewBag.severityId == "3")
                        {
                            <option selected value="3"> 3 - Suspected Minor Injury </option>
                        }
                        else
                        {
                            <option value="3"> 3 - Suspected Minor Injury </option>
                        }
                        @if (ViewBag.severityId == "4")
                        {
                            <option selected value="4"> 4 - Suspected Serious Injury </option>
                        }
                        else
                        {
                            <option value="4"> 4 - Suspected Serious Injury </option>
                        }
                        @if (ViewBag.severityId == "5")
                        {
                            <option selected value="5"> 5 - Fatal </option>
                        }
                        else
                        {
                            <option value="5"> 5 - Fatal </option>
                        }
                    </select>
                </div><br />
            </div>
            <table>
                <tr>
                    <td><label for="wz">Work Zone:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.wz == "on")
                            {
                                <input type="checkbox" name="wz" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="wz">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="pi">Pedestrian:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.pi == "on")
                            {
                                <input type="checkbox" name="pi" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="pi">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="bi">Bicyclist:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.bi == "on")
                            {
                                <input type="checkbox" name="bi" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="bi">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="mi">Motorcycle:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.mi == "on")
                            {
                                <input type="checkbox" name="mi" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="mi">
                            }
                            <span class="slider round"></span>
                        </label><br />
                    </td>
                </tr>
                <tr>
                    <td><label for="ir">Improper Restraints:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.ir == "on")
                            {
                                <input type="checkbox" name="ir" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="ir">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="ur">No Restraints:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.ur == "on")
                            {
                                <input type="checkbox" name="ur" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="ur">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="DUI">DUI:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.DUI == "on")
                            {
                                <input type="checkbox" name="DUI" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="DUI">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="inRel">Intersection:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.inRel == "on")
                            {
                                <input type="checkbox" name="inRel" checked />
                            }
                            else
                            {
                                <input type="checkbox" name="inRel">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="wiRel">Wild Animal:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.wiRel == "on")
                            {
                                <input type="checkbox" name="wiRel" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="wiRel">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="overRel">Overturn Rollover:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.overRel == "on")
                            {
                                <input type="checkbox" name="overRel" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="overRel">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="domRel">Domestic Animal:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.domRel == "on")
                            {
                                <input type="checkbox" name="domRel" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="domRel">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="comInv">Commercial Vehicle:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.comInv == "on")
                            {
                                <input type="checkbox" name="comInv" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="comInv">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="oldInv">Driver 55+:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.oldInv == "on")
                            {
                                <input type="checkbox" name="oldInv" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="oldInv">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="teenInv">Driver Teenager:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.teenInv == "on")
                            {
                                <input type="checkbox" name="teenInv" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="teenInv">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="ndCond">During Evening:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.ndCond == "on")
                            {
                                <input type="checkbox" name="ndCond" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="ndCond">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="sinVeh">Single Vehicle:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.sinVeh == "on")
                            {
                                <input type="checkbox" name="sinVeh" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="sinVeh">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="disDriv">Distracted Driving:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.disDriv == "on")
                            {
                                <input type="checkbox" name="disDriv" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="disDriv">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="drowDriv">Drowsy Driving:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.drowDriv == "on")
                            {
                                <input type="checkbox" name="drowDriv" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="drowDriv">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><label for="roadDep">Roadway Departure:</label></td>
                    <td>
                        <label class="switch">
                            @if (ViewBag.roadDep == "on")
                            {
                                <input type="checkbox" name="roadDep" checked>
                            }
                            else
                            {
                                <input type="checkbox" name="roadDep">
                            }
                            <span class="slider round"></span>
                        </label>
                    </td>
                </tr>
            </table>
            <button class="btn btn bg-primary" type="submit"><span class="whiteTextColor">Submit Crash Data</span></button>


        </form>
    </div>
    <div class="col-9">
        <div class="row">
            @{ int iCount = 0;}
            @foreach (var c in Model.Crashes)
            {

                if (iCount < 12)
                {
                    <div class="col-md-6 mb-3">
                        <div class="card border-warning mb-3 btncolewidth">
                            @if (c.CRASH_SEVERITY_ID == "1")
                            {
                                <div class="bg-success p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "2")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "3")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "4")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "5")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            <p1 class="text-center"> @c.COUNTY_NAME COUNTY</p1>

                            <div class="flex-sm-row">
                                <div>

                                    <ul>

                                        <li>City: @c.CITY</li>
                                        <li>Road: @c.MAIN_ROAD_NAME</li>
                                        <li>Route: @c.ROUTE</li>
                                        <li>Milepoint: @c.MILEPOINT</li>
                                        <li>Coordinates: @c.LAT_UTM_Y, @c.LONG_UTM_X</li>
                                    </ul>
                                </div>


                            </div>

                            <button class="btn btn bg-primary bigbtncole">
                                <a asp-for="Home" asp-action="Predict" asp-route-crashId="@c.CRASH_ID" asp-route-myCounty="@c.COUNTY_NAME" asp-route-night="@(c.NIGHT_DARK_CONDITION == "true" ? "1": "0")" asp-route-drowsy="@(c.DROWSY_DRIVING == "true" ? "1": "0")" asp-route-distracted="@(c.DISTRACTED_DRIVING == "true" ? "1": "0")" asp-route-old="@(c.OLDER_DRIVER_INVOLVED == "true" ? "1": "0")" asp-route-restraint="@(c.UNRESTRAINED == "true" ? "1": "0")" asp-route-dui="@(c.DUI == "true" ? "1": "0")" asp-route-teens="@(c.TEENAGE_DRIVER_INVOLVED == "true" ? "1": "0")" class="cole">View Details</a>
                            </button>

                        </div>
                    </div>

                }
                if (iCount > 12)
                {
                    <div class="col-md-6 mb-3">
                        <div class="card border-warning mb-3 btncolewidth">
                            @if (c.CRASH_SEVERITY_ID == "1")
                            {
                                <div class="bg-success p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "2")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "3")
                            {
                                <div class="bg-warning p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "4")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            @if (c.CRASH_SEVERITY_ID == "5")
                            {
                                <div class="bg-danger p-1">
                                    <h4 class="display-6 text-center">Severity Score: @c.CRASH_SEVERITY_ID</h4>
                                </div>
                            }
                            <p1 class="text-center"> @c.COUNTY_NAME COUNTY</p1>

                            <div class="flex-sm-row">
                                <div>

                                    <ul>

                                        <li>City: @c.CITY</li>
                                        <li>Road: @c.MAIN_ROAD_NAME</li>
                                        <li>Route: @c.ROUTE</li>
                                        <li>Milepoint: @c.MILEPOINT</li>
                                        <li>Coordinates: @c.LAT_UTM_Y, @c.LONG_UTM_X</li>
                                    </ul>
                                </div>


                            </div>

                            <button class="btn btn bg-primary bigbtncole">
                                <a asp-for="Home" asp-action="Predict" asp-route-crashId="@c.CRASH_ID" asp-route-myCounty="@c.COUNTY_NAME" asp-route-night="@(c.NIGHT_DARK_CONDITION == "true" ? "1": "0")" asp-route-drowsy="@(c.DROWSY_DRIVING == "true" ? "1": "0")" asp-route-distracted="@(c.DISTRACTED_DRIVING == "true" ? "1": "0")" asp-route-old="@(c.OLDER_DRIVER_INVOLVED == "true" ? "1": "0")" asp-route-restraint="@(c.UNRESTRAINED == "true" ? "1": "0")" asp-route-dui="@(c.DUI == "true" ? "1": "0")" asp-route-teens="@(c.TEENAGE_DRIVER_INVOLVED == "true" ? "1": "0")" class="cole">View Details</a>
                            </button>

                        </div>
                    </div>

                }
                iCount++;

            }
        </div>
    </div>

    @*Pagination at the bottom of the page*@
    @if (ViewBag.Submitted == false)
    {
        <div page-model="@Model.PageInfo" page-action="DataSummaryGrid" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
             class="btn-group pull-right m-1 mb-5">
        </div>
    }
</div>





 
