@{
    ViewData["Title"] = "Test";
}

@model CrashesViewModel

<h1>Crash Data</h1>



<div class="row m-1 p-1">
    <div id="types" class="col-3">
        <form method="post">
            <select>
                <option value="">County</option>
                @foreach (var c in Model.CrashTest.Select(c => c.COUNTY_NAME).Distinct().OrderBy(x => x))
                {
                    <option name="county" value="@c">@c</option>
                }
            </select>
            <select>
                <option value="">City</option>
                @foreach (var c in Model.CrashTest.Select(c => c.CITY).Distinct().OrderBy(x => x))
                {
                    <option value="@c">@c</option>
                }
            </select>
            <button type="submit" asp-controller="Home" asp-action="Test">Submit</button>
        </form>
    </div>
    <div class="col-9">
        <table class="table table-bordered table-striped">
            <thead class="font-weight-bold">
                <tr>
                    <td>Severity</td>
                    <td>Date Time</td>
                    <td>County</td>
                    <td>City</td>
                    <td>Road</td>
                    <td>Route</td>
                    <td>Milepoint</td>
                    <td>Coordinates</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var c in Model.Crashes)
                {

                    @*<tr>
                            <td>@c.CRASH_SEVERITY_ID</td>
                            <td>@c.CRASH_DATETIME</td>
                            <td>@c.COUNTY_NAME</td>
                            <td>@c.CITY</td>
                            <td>@c.MAIN_ROAD_NAME</td>
                            <td>@c.ROUTE</td>
                            <td>@c.MILEPOINT</td>
                            <td>@c.LAT_UTM_Y, @c.LONG_UTM_X</td>
                            @*<td><a asp-controller="Home" asp-action="Edit" asp-route-BowlerID="@b.BowlerID">Edit</a></td>
                                <td><a asp-controller="Home" asp-action="Delete" asp-route-BowlerID="@b.BowlerID">Delete</a></td>
                        </tr>*@

                    <tr>
                        <td>@c.CRASH_SEVERITY_ID</td>
                        <td>@c.CRASH_DATETIME</td>
                        <td>@c.COUNTY_NAME</td>
                        <td>@c.CITY</td>
                        <td>@c.MAIN_ROAD_NAME</td>
                        <td>@c.ROUTE</td>
                        <td>@c.MILEPOINT</td>
                        <td>@c.LAT_UTM_Y, @c.LONG_UTM_X</td>
                        <td><a asp-for="Home" asp-action="Predict" asp-route-crashId="@c.CRASH_ID" asp-route-myCounty="@c.COUNTY_NAME" asp-route-night="@(c.NIGHT_DARK_CONDITION == "true" ? "1": "0")" asp-route-drowsy="@(c.DROWSY_DRIVING == "true" ? "1": "0")" asp-route-distracted="@(c.DISTRACTED_DRIVING == "true" ? "1": "0")" asp-route-old="@(c.OLDER_DRIVER_INVOLVED == "true" ? "1": "0")" asp-route-restraint="@(c.UNRESTRAINED == "true" ? "1": "0")" asp-route-dui="@(c.DUI == "true" ? "1": "0")" asp-route-teens="@(c.TEENAGE_DRIVER_INVOLVED == "true" ? "1": "0")">View Details</a></td>
                        @*<td><a asp-controller="Home" asp-action="Edit" asp-route-BowlerID="@b.BowlerID">Edit</a></td>
                            <td><a asp-controller="Home" asp-action="Delete" asp-route-BowlerID="@b.BowlerID">Delete</a></td>*@
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>



@*Pagination at the bottom of the page*@
<div page-model="@Model.PageInfo" page-action="DataSummary" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
     class="btn-group pull-right m-1"></div>

<br />
<br />